body
{
    margin: 0%;
}
header 
{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
    margin: 0%;
}

.logo
{
    width: 250px;
}